p {
    width: 200px;
    height:200px;
    background-color: lightskyblue;
}

/* Content Box Example */
.box-content{
width:250px;
height:250px;
background-color: cadetblue;
padding:20px;
}

/* Border Box Example */
.box-border-box {
width:250px;
height:250px;
background-color: cadetblue;
padding:20px;
box-sizing:border-box;
}

.block {
    background-color: aquamarine;
    padding: 5px;
    margin-bottom: 5px;
    display: block;
}

.inline {
    background-color: burlywood;
 display: inline;   
 padding: 5px;
 /* can't set width and height on the element */
}

.inline-block {
    background-color: blueviolet;
    padding: 5px;
    display: inline-block;
    /* `inline-block` can fully utilise the same line with other inline element */
/* By default, it is a block */
/* display: inline-block allows to set a width and height on the element */
    margin: 20px; 
}

/* POSITION ELEMENT */
.static {
    width:200px;
    height:50px;
    background-color: cadetblue;
    position: static;
}

.relative {
    width:200px;
    height:50px;
    background-color: lightcoral;
    position: relative;
}

.absolute {
    width:200px;
    height:50px;
    background-color: lightgreen;
    position: absolute;
    top:100px;
    left:200px;
    /* z-index:-1; */
    /* z-index -1 will place the element behind other element */
}

.fixed {
    width:200px;
    height:50px;
    background-color: lightpink;
    position: fixed;
    top: 20px;
    left:30px;
}

.sticky {
    width:200px;
    height:50px;
    background-color: lightseagreen;
    position: sticky;
    top:20px;
    left: 300px;
}