.box1 {
border: 3px;
border-style: solid;
border-color: aqua;
border-radius: 8px;
}

/* Alternatively */

.box1 {
    border: 5px double pink;
}

.box2 {
    /* clockwise padding */
padding-top: 30px 15px 10px 40px;
border: 3px purple;
border-style:dashed;
}

.box3 {
    /* clockwise margin */
    width: 300px;
    height:300px;
margin: 50px 100px;
border: 3px salmon;
border-style: groove;
}